[submodule "test/deps/doctest"]
	path = test/deps/doctest
	url = https://github.com/doctest/doctest.git
[submodule "test/deps/RxCpp"]
	path = test/deps/RxCpp
	url = https://github.com/ReactiveX/RxCpp.git
