[submodule "tests/deps/doctest"]
	path = tests/deps/doctest
	url = https://github.com/doctest/doctest.git
[submodule "tests/deps/RxCpp"]
	path = tests/deps/RxCpp
	url = https://github.com/ReactiveX/RxCpp.git
[submodule "tests/deps/trompeloeil"]
	path = tests/deps/trompeloeil
	url = https://github.com/rollbear/trompeloeil.git
